/*
 * Author: Hayk Ghazaryan
 * Email: hayk.ghazaryanc@gmail.com
 * GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
 * Date: January 2025
 */

/* prettier-ignore */
@font-face {
	font-family: "Poppins";
	src:  url("../../../assets/fonts/Poppins-Regular.woff2")                       format("woff2")
			  , url("../../../assets/fonts/Poppins-Regular.woff")                        format("woff")
			  , url("../../../assets/fonts/Poppins-Regular.eot?#iefix" )                 format("embedded-opentype")
			  , url("../../../assets/fonts/Poppins-Regular.ttf")                         format("truetype")
			  , url("../../../assets/fonts/Poppins-Regular.otf")                         format("opentype")
			  , url("../../../assets/fonts/Poppins-Regular.f.svg#Poppins-Regular")       format("svg")
			  ;

	font-weight: 400;
	font-style: normal;
	font-display: block;
}

/* prettier-ignore */
@font-face {
	font-family: "Poppins";
	src:  url("../../../assets/fonts/Poppins-Medium.woff2")                       format("woff2")
			  , url("../../../assets/fonts/Poppins-Medium.woff")                        format("woff")
			  , url("../../../assets/fonts/Poppins-Medium.eot?#iefix" )                 format("embedded-opentype")
			  , url("../../../assets/fonts/Poppins-Medium.ttf")                         format("truetype")
			  , url("../../../assets/fonts/Poppins-Medium.otf")                         format("opentype")
			  , url("../../../assets/fonts/Poppins-Medium.f.svg#Poppins-Medium")        format("svg")
			  ;

	font-weight: 500;
	font-style: normal;
	font-display: block;
}

/* prettier-ignore */
@font-face {
	font-family: "Lufga";
	src:  url("../../../assets/fonts/Poppins-SemiBold.woff2")                       format("woff2")
			  , url("../../../assets/fonts/Poppins-SemiBold.woff")                        format("woff")
			  , url("../../../assets/fonts/Poppins-SemiBold.eot?#iefix" )                 format("embedded-opentype")
			  , url("../../../assets/fonts/Poppins-SemiBold.ttf")                         format("truetype")
			  , url("../../../assets/fonts/Poppins-SemiBold.otf")                         format("opentype")
			  , url("../../../assets/fonts/Poppins-SemiBold.f.svg#Poppins-SemiBold")      format("svg")
			  ;

	font-weight: 600;
	font-style: normal;
	font-display: block;
}
