.masked-img {
 width: 25.4rem;
 height: 19.2rem;
 object-fit: cover;

 &--1 {
  // mask-image: svg-load("../../../assets/svg/shapes/shape-2.svg");
  // mask-repeat: no-repeat;
 }

 &--2 {
  // mask-image: svg-load("../../../assets/svg/shapes/shape-1.svg");
  // mask-repeat: no-repeat;
 }
}
/*
.swiper-slide,
.swiper-wrapper,
.mySwiper {
 height: 319px !important;
}

.swiper-slide {
 display: flex;
 justify-content: center;
 align-items: center;

 &.swiper-slide-next {
  img {
   // mask-image: svg-load("../../../assets/svg/shapes/shape-2.svg");
   // mask-repeat: no-repeat;
   height: 319px !important;
   width: 220px !important;
  }
 }
}
 */
