.overlay-custom {
 @apply z-[1]
								flex
								overflow-hidden;

 // .overlay-custom
 // .overlay-custom:after
 &,
 &:after {
  @apply absolute
									inset-0;
 }

 // .overlay-custom--fill
 &--fill {
  // .overlay-custom--fill:after
  &:after {
   content: "";
   @apply z-[-1]
										block
								bg-black/40;
  }
 }

 // .overlay-custom .icons
 .icons {
  // .overlay-custom .icons--deco-6
  &--deco-6 {
   @apply absolute
										left-[50%]
										top-[50%]
										translate-x-[-50%]
										translate-y-[-50%];

   @apply text-white;
  }
 }

 // .overlay-custom .ornament
 .ornament {
  @apply absolute
									left-[50%]
									top-[50%]
									h-[43.2rem]
									w-[40.8rem]
									translate-x-[-50%]
									translate-y-[-50%];
 }

 // .overlay-custom__content
 &__content {
  @apply rel
									z-10
							text-slate-100;

  @apply ~px-[1.45rem]/[2.9rem]
									~py-[0.5rem]/[5rem]

									sm:px-[1.45rem]
									sm:py-[0.5rem];

  // .overlay-custom__content-txt
  &-txt {
   @apply ~text-[1.8rem]/[2.4rem]
										~leading-[2.0rem]/[2.9rem]

										sm:text-[1.8rem]
										sm:leading-[2.0rem];
  }

  // .overlay-custom__content .icons
  .icons {
   @apply mb-[1.4rem];
  }
 }
}
