<section class="s-4">
 <div class="fix s-4__fix">
  <div class="s-info">
   <h2 class="s-t"><%=s4.title %></h2>
   <p class="s-d"><%=s4.descr %></p>
  </div>

  <!--  -->
  <div class="g-1-lvl">
   <div class="g-1-lvl__it g-1-lvl__it--1">
    <img
     srcset="
      shared/ui/assets/img/shape/shape-1-1x.webp 1x,
      shared/ui/assets/img/shape/shape-1-2x.webp 2x,
      shared/ui/assets/img/shape/shape-1-3x.webp 3x,
      shared/ui/assets/img/shape/shape-1-4x.webp 4x
     "
     src="shared/ui/assets/img/shape/shape-1-1x.jpg"
     alt=""
     width="460"
     height="590"
     class="shape-primary"
    />
   </div>
   <div class="g-1-lvl__it g-1-lvl__it--2">
    <!--  -->
    <div class="g-2-lvl">
     <img
      srcset="
       shared/ui/assets/img/shape/shape-2-1x.webp 1x,
       shared/ui/assets/img/shape/shape-2-2x.webp 2x,
       shared/ui/assets/img/shape/shape-2-3x.webp 3x,
       shared/ui/assets/img/shape/shape-2-4x.webp 4x
      "
      src="shared/ui/assets/img/shape/shape-1-1x.jpg"
      alt=""
      width="207"
      height="207"
      class="shape-circle g-2-lvl__it g-2-lvl__it--1"
     />

     <div class="txt-box g-2-lvl__it g-2-lvl__it--2">
      <h3 class="txt-box__title">How We Make It?</h3>
      <p class="txt-box__descr">
       UrbanGreen tech’s LED lighting solutions have demonstred energy efficiency gains
      </p>
     </div>

     <img
      srcset="
       shared/ui/assets/img/shape/shape-3-1x.webp 1x,
       shared/ui/assets/img/shape/shape-3-2x.webp 2x,
       shared/ui/assets/img/shape/shape-3-3x.webp 3x,
       shared/ui/assets/img/shape/shape-3-4x.webp 4x
      "
      src="shared/ui/assets/img/shape/shape-3-1x.jpg"
      alt=""
      width="376"
      height="150"
      class="shape-rounded shape-rounded--1 g-2-lvl__it g-2-lvl__it--3"
     />

     <img
      srcset="
       shared/ui/assets/img/shape/shape-4-1x.webp 1x,
       shared/ui/assets/img/shape/shape-4-2x.webp 2x,
       shared/ui/assets/img/shape/shape-4-3x.webp 3x,
       shared/ui/assets/img/shape/shape-4-4x.webp 4x
      "
      src="shared/ui/assets/img/shape/shape-4-1x.jpg"
      alt=""
      width="264"
      height="150"
      class="shape-rounded shape-rounded--2 g-2-lvl__it g-2-lvl__it--4"
     />
     <div class="txt-box g-2-lvl__it g-2-lvl__it--5">
      <h3 class="txt-box__title">80% Energy Efficiency</h3>
      <p class="txt-box__descr">
       UrbanGreen tech’s LED lighting solutions have demonstred energy efficiency gains of
       up to 80% compared to traditional lighting system.
      </p>
     </div>
    </div>
    <!-- / -->
   </div>
  </div>
  <!--  -->
 </div>
</section>
