/*
 * Author: Hayk Ghazaryan
 * Email: hayk.ghazaryanc@gmail.com
 * GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
 * Date: January 2025
 */

@import url("base/media-query.scss");

@import url("../common/dev/sections.scss");

@import url("tw-utils/grid.scss");
@import url("tw-utils/extends.scss");

@import url("base/sides.scss");
@import url("base/gap.scss");
@import url("base/typography.scss");
@import url("base/root.scss");
@import url("base/main.scss");

// @import url("base/show-media.scss");

@import url("base/selection.scss");
@import url("base/scroll.scss");
@import url("base/text-gradient.scss");
@import url("base/sprite-icons.scss");
@import url("base/sprite-shapes.scss");

@import url("components/atoms/main.scss");

@import url("components/soc.scss");
@import url("components/short-txt.scss");
@import url("components/dividing-line.scss");
@import url("components/list-1.scss");
@import url("components/main-footer.scss");
@import url("components/logo.scss");
@import url("components/s9.scss");
@import url("components/grid-9.scss");

@tailwind utilities;
@tailwind base;
@tailwind components;

.gap,
.gap-x,
.gap-y {
 @apply transition-[column-gap,row-gap]
								duration-[0.16s,0.16s]
								ease-[linear,linear]
								will-change-[column-gap,row-gap];
}

:root {
 @apply cursor-default
										font-primary
										text-62-5p
										font-400
										tracking-normal;
}

html,
body {
 @apply bg-white;
}

body {
 @apply overflow-x-hidden
										text-[0];
}

.s-7 {
 @apply bg-green-100/10;
 &__fix {
  @apply ~py-[3rem]/[12rem]
											sm:py-[3rem];
 }

 .s-t {
  @apply mx-auto
										max-w-[71rem]
										text-center
								text-black
										~pb-[3.4rem]/[6.8rem]
										sm:pb-[3.4rem];
 }
}

.s-t {
 @apply title-1-1-v1;
}

.grid-7 {
 @apply gap
									grid
									grid-cols-[repeat(12,1fr)];

 grid-template-areas: "it-1 it-1 it-1 it-2 it-2 it-2 it-3 it-3 it-3 it-4 it-4 it-4";

 @media (max-width: $lg) {
  grid-template-areas:
   ". . it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 . ."
   ". . it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 . .";
 }

 @media (max-width: $mdx) {
  grid-template-areas:
   ". it-1 it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 ."
   ". it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4 .";
 }

 @media (max-width: $mdxxx) {
  grid-template-areas:
   ". it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 ."
   ". it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 ."
   ". it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 ."
   ". it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 .";
 }

 @media (max-width: $mdxxxx) {
  grid-template-areas:
   ". it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 ."
   ". it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 ."
   ". it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 ."
   ". it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 .";
 }

 &__it {
  @apply rel
										block
										aspect-[267/358.02]
										w-full
										overflow-hidden
										rounded-[1.6rem]
								bg-green-250;

  @apply transition-[transform]
										duration-[0.2s]
										ease-[linear]
										will-change-[transform];

  &:nth-child {
   &(1) {
    grid-area: it-1;
   }

   &(2) {
    grid-area: it-2;
   }

   &(3) {
    grid-area: it-3;
   }

   &(4) {
    grid-area: it-4;
   }
  }

  &:hover {
   @apply translate-y-[-1.2rem] scale-105;
  }
 }

 .overlay-custom {
  @apply flex-col
										items-center
										justify-between;
 }
}

.img2-3 {
 @apply block
									w-full;
}

.deco-circle {
 @apply absolute
									block
									aspect-[1/1]
									w-[65.54307116104869%]
									rounded-[50%];

 &--1 {
  @apply left-0
										top-0
										z-[2]
										translate-x-[-45%]
										translate-y-[-40%]
								bg-green-300;
 }

 &--2 {
  @apply bottom-0
										right-0
										z-[3]
										translate-x-[28%]
										translate-y-[34%]
								bg-green-100;
 }
}

.icon-box-1 {
 @apply absolute
										left-[50%]
										top-[50%]
										z-10
										flex
										h-[5.2rem]
										w-[5.2rem]
										translate-x-[-50%]
										translate-y-[-50%]
										items-center
										justify-center
										rounded-[0.801rem]
								bg-slate-250;
}

.article-title-1 {
 @apply block
								text-white

										~px-[1.975rem]/[3.95rem]
										sm:px-[1.975rem];

 @apply text-[2rem]
										leading-[3rem];
}

.overlay-custom {
 @apply z-[1]
										flex
										overflow-hidden;

 &,
 &:after {
  @apply absolute
											inset-0;
 }

 &--fill {
  &:after {
   content: "";
   @apply z-[-1]
												block
										bg-black/40;
  }
 }

 .icons {
  &--deco-6 {
   @apply absolute
												left-[50%]
												top-[50%]
												translate-x-[-50%]
												translate-y-[-50%];

   @apply text-white;
  }
 }

 .ornament {
  @apply absolute
											left-[50%]
											top-[50%]
											h-[43.2rem]
											w-[40.8rem]
											translate-x-[-50%]
											translate-y-[-50%];
 }
}

.equalizer {
 @apply flex
										w-full
										max-w-[11.1rem]
										items-end
										gap-x-[1.4rem]

										~mb-[1.9rem]/[3.8rem]
										~h-[4.5rem]/[7.5rem]

										sm:mb-[1.9rem]
										sm:h-[4.5rem];

 i {
  @apply rel
											block
											w-[1.101rem]
											shrink-0
											grow-0
											overflow-hidden
											rounded-[1.501rem]

									bg-grey-350;

  &:after {
   content: "";
   @apply absolute
												bottom-0
												left-0
												z-10
												block
												h-[20.01%]
												w-full
												rounded-[inherit]
										bg-white;
  }

  &:nth-child {
   &(1) {
    @apply h-[80.13333333333333%];

    &:after {
     @apply h-[55%];
    }
   }

   &(2) {
    @apply h-[97.33333333333333%];

    &:after {
     @apply h-[71.23287671232877%];
    }
   }

   &(3) {
    @apply h-[78.66666666666667%];

    &:after {
     @apply h-[59.32203389830508%];
    }
   }

   &(4) {
    @apply h-full;

    &:after {
     @apply h-[46.66666666666667%];
    }
   }

   &(5) {
    @apply h-[97.33333333333333%];

    &:after {
     @apply h-[65.75342465753425%];
    }
   }
  }
 }
}

.overlay-custom {
 &__content {
  @apply rel
											z-10
									text-slate-100;

  @apply ~px-[1.45rem]/[2.9rem]
											~py-[0.5rem]/[5rem]

											sm:px-[1.45rem]
											sm:py-[0.5rem];

  &-txt {
   @apply ~text-[1.8rem]/[2.4rem]
												~leading-[2.0rem]/[2.9rem]

												sm:text-[1.8rem]
												sm:leading-[2.0rem];
  }

  .icons {
   @apply mb-[1.4rem];
  }
 }
}

.s-5 {
 @apply bg-grey-650

											~py-[6rem]/[12rem]
											sm:py-[6rem];

 .s-t {
  @apply pb-[2.2rem]
											text-center;
 }
}

.article-v1 {
 @apply flex
										w-full
										pb-[3.95rem]
										pt-[3.9rem];

 @apply transition-[background]
										duration-[0.16s]
										ease-[linear]
										will-change-[background];

 &:hover {
  @apply bg-slate-50;

  .article-v1 {
   &__d,
   &__t {
    @apply text-white;
   }
  }

  .icon-box-2 {
   @apply border-green-250
												bg-green-250
												text-black;
  }
 }

 &__d,
 &__t {
  @apply transition-[color]
											duration-[0.16s]
											ease-[linear]
											will-change-[color];
 }

 &__fix {
  @apply rel
											flex
											w-full;

  @media (max-width: $md) {
   @apply flex-col;

   .article-v1 {
    &__c {
     &--1 {
      @apply w-auto
															pb-[0.8rem];
     }
    }
   }
  }

  @media (max-width: $mdxxxx) {
   .article-v1 {
    &__c {
     &--2 {
      @apply pr-0;
     }
    }
   }

   .icon-box-2 {
    @apply rel
													ml-auto
													mt-[3.01rem]
													hidden
													translate-x-0
													translate-y-0;
   }
  }
 }

 &__t {
  @apply title-1-3-v1
											pt-[0.95rem]
									text-black;
 }

 &__d {
  @apply descr-1-3-v1
											max-w-[41.1rem]
									text-black;
 }

 &__c {
  @apply rel;

  &--1 {
   @apply w-[26.7rem]
												shrink-0
												grow-0;
  }

  &--2 {
   @apply w-full
												pr-[6rem];
  }
 }
}

.icon-box-2 {
 @apply absolute
										right-0
										top-[50%]
										flex
										h-[5.2rem]
										w-[5.2rem]
										translate-y-[-50%]
										items-center
										justify-center
										rounded-[50%]
										border
										border-solid
								border-black;

 svg,
 use {
  @apply transition-[fill]
											duration-[0.16s]
											ease-[linear]
											will-change-[fill];
 }

 @apply transition-[border,background,color]
										duration-[0.16s,0.16s,0.16s]
										ease-[linear,linear,linear]
										will-change-[border,background,color];

 @apply text-black;

 &--fill {
  @apply border-slate-50
											bg-slate-50
											text-white;
 }

 &--hover {
  @apply border-green-250
											bg-green-250
											text-black;
 }
}

.btn {
 @apply inline-block
										whitespace-nowrap;

 @apply transition-[border,background,color]
										duration-[0.16s,0.16s,0.16s]
										ease-[linear,linear,linear]
										will-change-[border,background,color];

 &--xxl {
  @apply btn-label-v2
											rel
											rounded-[2.6rem]
											px-[4.0rem]
											py-[1.4rem];

  .icon-box-2 {
   @apply absolute
												right-[-2.6rem]
												top-[50%]
												translate-y-[-50%];
  }
 }

 &--xl {
  @apply btn-label-v2
											rounded-[2.6rem]
											px-[3.2rem]
											py-[1.4rem];
 }

 &--lg {
  @apply btn-label-v1
											rounded-[2.1rem]
											px-[3.003rem]
											py-[1.209rem];
 }

 &--fill {
  @apply bg-black
											text-white;
 }

 &--outline {
  @apply border
											border-solid
									border-black
									bg-white
									text-black;
 }

 &--outline,
 &--fill {
  &:hover {
   @apply border-green-250
												bg-green-250
												text-black;

   .icon-box-2 {
    @apply border-green-250
													bg-green-250
													text-black;
   }
  }
 }
}

.s-3 {
 @apply flex
										gap-x-[3.2rem]
										overflow-hidden
										whitespace-nowrap
								bg-slate-50
										py-[1.45rem];

 &__it {
  @apply title-1-4-v1
											flex
											items-center
											gap-x-[1rem]
											font-secondary
											text-green-250;
 }

 &__it-label {
  @apply font-secondary;
 }
}

.main-header {
 &__fix {
  @apply flex
											items-center
											pb-[2.33rem]
											pt-[2.02rem];

  .logo {
   @apply shrink-0 grow-0;
  }
 }
}

.group {
 &--nav-btn {
  @apply flex
										w-full
										items-center
										justify-between;

  @media (max-width: $lg) {
   display: none !important;
   @apply fixed
											right-0
											top-0
											z-[10]
											flex
											h-screen
											w-full
											max-w-[30.01rem]
											flex-col
											items-start
											justify-start
									bg-white
											px-[2.01rem]
											shadow-[-9px_2px_22px_-17px_rgba(66_68_90_/_0.35)];

   .empty-flex-between {
    @apply order-1;
   }

   .nav {
    @apply order-2;
   }

   .group {
    &--btn-lang {
     @apply order-3
													w-full
													pt-[2.01rem];
    }
   }

   .nav {
    @apply w-full
												pt-[2.01rem];

    &__ul {
     @apply block;
    }

    &__li {
     @apply px-0;
    }

    &__a {
     @apply block
													overflow-hidden
													border-b
													border-solid
											border-b-[rgba(66_68_90_/_0.1)]
													px-[2.01rem]
													py-[1.2rem];

     &:hover {
      @apply bg-[rgba(66_68_90_/_0.07)];
     }
    }
   }
  }
 }

 &--btn-lang {
  @apply flex
										items-center
										justify-between;

  @apply ~gap-x-[2rem]/[4rem]
											sm:gap-x-[2rem];
 }
}

.nav {
 &__ul {
  @apply flex;
 }

 &__li {
  @apply ~px-[0.4rem]/[1.4rem]
											sm:px-[0.4rem];
 }

 &__a {
  @apply link-v1
										inline-block
										whitespace-nowrap;
 }
}

.lang-tool {
 &__l {
  @apply link-v1
									text-black;
 }
}

.s-2 {
 &__fix {
  @apply block
								text-white
										~py-[2.6rem]/[7.6rem]
										sm:py-[2.6rem];

  .main-title {
   @apply pb-[1.3rem];
  }
 }
}

.main-title {
 @apply main-title-v1
									mx-auto
									block
									max-w-[890px]
									text-center
									text-black;
}

.select-txt {
 @apply rel
									z-[1]
									inline-block
									rounded-[6.8rem]
									px-[1.01rem]
									pl-[2.6rem]
									pr-[2.6rem];

 &:after {
  content: "";
  @apply absolute
										-bottom-4
										left-0
										right-2
										top-[0.2rem]
										z-[-1]
										block
										rounded-[inherit]
								bg-green-250;
 }
}

.main-descr {
 @apply main-descr-v1
									mx-auto
									max-w-[80rem]
									text-center
							text-black;
}

.s-2 {
 .s-t {
  @apply pb-[4.9rem]
										text-center
								text-black;
 }
}

.wrap {
 &--btn-s-2 {
  @apply block
										text-center
										~pt-[2.4rem]/[4.8rem]
										~pb-[2.5rem]/[5.0rem]

										sm:pb-[2.5rem]
										sm:pt-[2.4rem];
 }
}

.slide {
 @apply flex;

 &__arr-cell {
  @apply flex
										w-full
										max-w-[18.6rem]
										items-center;

  &--prev {
   @apply justify-start;
  }

  &--next {
   @apply justify-end;
  }
 }

 &__place {
  @apply w-full
										px-[3.9rem];
 }
}

.slide-box {
 @apply mx-auto
									flex
									w-auto
									max-w-[76.8rem]
									items-center
									gap-x-[1.8rem];
}

.arr {
 @apply flex
									h-[9.072rem]
									w-[14.7rem]
									cursor-pointer
									items-center
									justify-center
									rounded-[2rem]
							bg-slate-50
							text-white;

 @apply transition-[background,transform,border-radius]
									duration-[0.16s,0.16s,0.16s,0.16s]
									ease-[ease-out,ease-out,ease-out,ease-out]
									will-change-[background,transform,border-radius];

 &:hover {
  transform: scale(1.4);
  @apply rounded-[6rem]
								bg-green-250
								text-slate-50;
 }

 &:active {
  transform: scale(1.2);
 }

 path,
 svg {
  transition: linear all 0.16s;
 }

 &--prev {
  &:hover {
   svg {
    transform: translate(-10px, 0);
   }
  }
 }

 &--next {
  &:hover {
   svg {
    transform: translate(10px, 0);
   }
  }
 }
}

.img-0-6 {
 mask-image: svg-load("../../assets/svg/shapes/shape-2.svg");
 mask-repeat: no-repeat;
}

.img-1-3 {
 mask-image: svg-load("../../assets/svg/shapes/shape-1.svg");
 mask-repeat: no-repeat;
}

.dd {
 @apply rel
									z-50
									inline-block
									cursor-pointer
									px-[2rem]
									py-[1rem];

 &__select {
  @apply rel
										z-10
										flex
										gap-x-[0.8rem]
								text-black;

  &-txt {
   @apply link-v1;

   @apply transition-[color]
											duration-[0.18s]
											ease-[linear]
											will-change-[color];
  }
 }

 .icons {
  @apply inline-block;

  use {
   @apply transition-[fill,color]
											duration-[0.16s,0.16s]
											ease-[linear,linear]
											will-change-[fill,color];
  }
 }

 &__container {
  @apply h-0
										w-0
										overflow-hidden
										opacity-0;

  @apply absolute
										right-0
										top-[100%]
										w-[150%];

  @apply transition-[opacity]
										duration-[0.18s]
										ease-[linear]
										will-change-[opacity];

  @media (max-width: $lg) {
   @apply left-[0]
											right-[inherit];

   .dd__content {
    @apply rounded-tl-none
												rounded-tr-[2.1rem];

    &:after {
     @apply left-0
													right-[inherit];
    }
   }
  }
 }

 &__content {
  @apply min-h-[15rem]
										w-full
								bg-black;

  @apply rounded-bl-[2.1rem]
										rounded-br-[2.1rem]
										rounded-tl-[2.1rem];

  &:after {
   @apply absolute
											right-0
											top-[-4.4rem]
											block
											h-[4.4rem]
											w-[67%]
											bg-inherit
											content-[""];

   @apply rounded-tl-[2.1rem]
											rounded-tr-[2.1rem];
  }
 }

 &:focus-visible,
 &:focus,
 &:active,
 &:hover {
  .dd {
   &__container {
    @apply h-auto
												w-[150%]
												overflow-visible
												opacity-100;
   }

   &__select {
    @apply text-white;
   }
  }
 }
}

.list-2 {
 @apply py-[2rem];

 &__it {
  @apply px-[1.2rem];

  &:last-child {
   a {
    @apply border-b-0;
   }
  }
 }

 &__a {
  @apply border-b
								border-b-white/10
										px-[1.501rem]
										py-[1.01rem];

  @apply link-v1
										block
										text-left
								text-white;

  @apply transition-[background]
										duration-[0.16s]
										ease-[linear]
										will-change-[background];

  &:hover {
   @apply bg-white/10;
  }
 }
}

.s-8 {
 &__fix {
  @apply ~pt-[3rem]/[12rem]
										sm:pt-[3rem];

  .s-t {
   @apply mx-auto
											max-w-[53.7rem]
											text-center
											~pb-[3rem]/[8.01rem]
											sm:pb-[3rem];
  }
 }
}

.wide-cell {
 @apply flex
									w-full
									gap-x-[2.4rem]
									overflow-hidden
									~pb-[3rem]/[12rem]
									sm:pb-[3rem];
}

.block-v1 {
 @apply min-h-[35rem]
									w-full
									min-w-[60rem]
									rounded-[1.7rem]
							bg-grey-450
									text-center

									~p-[3.6rem]/[4.6rem]
									sm:p-[3.6rem];

 @apply transition-[background]
									duration-[0.16s]
									ease-[linear]
									will-change-[background];

 &:hover {
  @apply bg-slate-50;

  .block-v1 {
   &__descr {
    @apply text-white;
   }
  }

  .img-info {
   &__title {
    @apply text-white;
   }
  }
 }

 &__descr {
  @apply descr-1-2-v1
										pb-[3.2rem]
										text-grey-50;

  @apply transition-[color]
										duration-[0.16s]
										ease-[linear]
										will-change-[color];
 }

 .list-3 {
  @apply pb-[3.2rem];
 }
}

.list-3 {
 @apply inline-flex
									gap-x-[1rem]
							text-yellowOrange-100;
}

.img-info {
 @apply inline-flex
									gap-x-[1.3rem];

 &__title {
  @apply title-1-6-v2
										block
								text-black;
 }

 &__descr {
  @apply descr-5-12-v1
										block
								text-grey-250;
 }

 &__descr,
 &__title {
  @apply transition-[color]
										duration-[0.16s]
										ease-[linear]
										will-change-[color];
 }

 &__im {
  @apply block
										h-[4.4rem]
										w-[4.4rem]
										flex-shrink-0
										flex-grow-0
										overflow-hidden
										rounded-[50%];

  @apply bg-grey-200;
 }

 &__in {
  @apply w-full
										max-w-[18.1rem]
										text-left;
 }
}

.s-4 {
 &__fix {
  @apply block

										~py-[3rem]/[12rem]
										sm:py-[3rem];

  .s-info {
   @apply ~pb-[2rem]/[6rem]
											sm:pb-[2rem];
  }
 }
}

.s-info {
 @apply flex
									justify-between
									gap-x-[2.4rem];

 @media (max-width: $lgx) {
  @apply flex-col;
  .s-t {
   @apply pb-[1rem];
  }
 }

 .s-t {
  @apply max-w-[76.3rem];
 }

 .s-d {
  @apply max-w-[35.3rem]
										pt-[0.5rem];
 }
}

.s-d {
 @apply descr-1-1-v1;
}

.shapes {
 @apply gap-x
									flex
									gap-x-[2.4rem];

 @media (max-width: $lgx) {
  @apply flex-col;
  .shapes__c {
   @apply w-full
											max-w-full;
  }
 }

 &__c {
  @apply flex
										flex-col
										flex-wrap
										items-start
										gap-y-[2.4rem];

  &--1 {
   @apply w-full
											max-w-[40.35087719298246%];
  }

  &--2 {
   @apply w-full
											max-w-[59.64912280701754%];
  }
 }
}

.shapes {
 &__i {
  &--1 {
   &-1 {
    @apply block
												h-auto
												w-full
												max-w-[46rem];
   }

   &-2 {
    @apply box-content
												block
												h-auto
												w-full
												max-w-[17.6rem]
												flex-shrink-0
												flex-grow-0
												rounded-[50%]
												border-[1.7rem];
   }

   &-3 {
    @apply block
												h-full
												w-[55.57251908396947%];
   }

   &-4 {
    @apply block
												h-full
												w-[44.42748091603053%];
   }

   &-3,
   &-4 {
    img {
     @apply h-full
													w-auto
													rounded-[1.4rem]
													object-cover;
    }
   }
  }
 }
}

.s-4 {
 &__row {
  @apply flex
										items-start
										gap-x-[2.4rem];
 }
}

.txt-box {
 @apply block
									w-full
									rounded-[1.6rem]
							bg-grey-600
									py-[3.2rem]
									pl-[4.9rem]
									pr-[2.9rem];

 &__title {
  @apply title-5-12-v1
										pb-[0.4rem]
								text-black;
 }

 &__descr {
  @apply descr-5-12-v1
										w-full
										max-w-full
								text-black;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }
}

.shapes-grid {
 @apply gap
									grid
									grid-cols-[repeat(12,1fr)];

 grid-template-areas: "it-1 it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 it-2 it-2";

 &__it {
  &--1 {
   grid-area: it-1;
  }

  &--2 {
   grid-area: it-2;
  }
 }

 &__subgrid {
  @apply grid
										grid-cols-12
										gap-[1.6rem];

  grid-auto-flow: dense;

  &-it {
   &--1 {
    @apply col-span-5;
   }

   &--2 {
    @apply col-span-7
												col-start-6;
   }

   &--3 {
    @apply col-span-7
												row-start-2;
   }

   &--4 {
    @apply col-span-5
												col-start-8
												row-start-2;
   }

   &--5 {
    @apply col-span-12
												row-start-3;
   }

   &--6 {
    @apply col-span-12;
   }

   &--7 {
    @apply col-span-12;
   }
   &--8 {
    @apply col-span-12;
   }
  }
 }
}

.circle-border {
 @apply box-content
									rounded-[50%]
									border-[1.7rem]
									border-solid
									border-grey-600;
}

.g-1-lvl {
 @apply gap
									grid
									grid-cols-[repeat(12,1fr)];

 grid-template-areas: "it-1 it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 it-2 it-2";

 @media (max-width: $lgx) {
  .g-1-lvl__it--1 {
   @apply hidden;
  }

  grid-template-areas: "it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2";
 }

 &__it {
  @apply min-h-[2rem]
										w-full;

  &--1 {
   grid-area: it-1;
  }

  &--2 {
   grid-area: it-2;
  }
 }
}

.shape-primary {
 @apply block
									h-auto
									w-full
									max-w-[46.1rem];

 mask-repeat: no-repeat;
 mask-image: svg-load(../../assets/svg/shapes/shape-3.svg);
}

.g-2-lvl {
 @apply grid
									grid-cols-[repeat(12,1fr)]
									gap-[1.6rem];

 grid-template-areas:
  "it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2"
  "it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4"
  "it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5";

 @media (max-width: $lgx) {
  grid-template-areas:
   "it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2"
   "it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4"
   "it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5";

  .shape-rounded {
   @apply h-full
											w-full
											max-w-full
											object-cover;
  }
 }

 @media (max-width: $mdx) {
  grid-template-areas:
   "it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2"
   "it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4"
   "it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5";

  .g-2-lvl__it--1 {
   @apply hidden;
  }
 }

 @media (max-width: $mdx) {
  grid-template-areas:
   "it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2"
   "it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3"
   "it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4"
   "it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5";
 }

 &__it {
  &--1 {
   grid-area: it-1;
  }

  &--2 {
   grid-area: it-2;
  }

  &--2,
  &--1 {
   @apply self-center;
  }

  &--3 {
   grid-area: it-3;
  }

  &--4 {
   grid-area: it-4;
  }

  &--5 {
   grid-area: it-5;
  }
 }
}

.shape-circle {
 @apply h-auto
									w-full
									max-w-[20.7rem]
									rounded-[50%]
									border-[1.7rem]
									border-solid
							border-grey-600;
}

.shape-rounded {
 @apply h-auto
									w-full;

 &--1 {
  @apply max-w-[37.6rem];
 }

 &--2 {
  @apply max-w-[26.4rem];
 }

 @apply rounded-[1.6rem];
}

.carousel {
 @apply mb-[2rem]
									grid
									grid-cols-[14.7rem_1fr_14.7rem];

 &__list {
  @apply px-[2rem]
										pb-[2rem];
 }

 @media (max-width: $lgxx) {
  @apply grid-cols-[repeat(12,1fr)];

  grid-template-areas:
   "it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2"
   ". . it-1 it-1 it-1 . . it-3 it-3 it-3 . .";

  &__list {
   grid-area: it-2;

   @apply w-full;
  }

  &__arr {
   @apply h-auto;

   &--1 {
    grid-area: it-1;
   }

   &--2 {
    grid-area: it-3;
   }
  }
 }

 @media (max-width: $mdxxx) {
  &__arr {
   @apply hidden
											h-auto;
  }
 }

 &__arr {
  @apply content-center;

  &--1 {
   @apply justify-self-start;
  }

  &--2 {
   @apply justify-self-end;
  }
 }
}

.s-6 {
 @apply ~pb-[3rem]/[12rem]

									sm:pb-[3rem];

 &__fix {
  @apply block
										~pt-[3rem]/[12rem]
										~pb-[3.1rem]/[6.1rem]

										sm:pb-[3.1rem]
										sm:pt-[3rem];
 }

 .s-t {
  @apply ~pb-[1.3rem]/[2.3rem]

										sm:pb-[1.3rem];
 }

 .s-d {
  @apply max-w-[53.7rem];
 }
}

.swiper-section {
 @apply w-full;

 &__content {
  @apply flex
									gap-x-[2.4rem]
									overflow-hidden;
 }
}

.shaped-box {
 @apply rel
								w-[46rem]
								shrink-0
						text-grey-450;

 &:hover {
  @apply text-green-250;
 }

 &__content {
  @apply rel
									z-[10]
									flex
									gap-x-[2.6rem]
									px-[3rem]
									py-[3.5rem];

  &-cell {
   @apply flex flex-col;

   &--1 {
    @apply w-[54.8780487804878%];
    justify-content: center;
   }

   &--2 {
    @apply w-[45.1219512195122%];
    align-items: center;
   }
  }
 }

 &__svg {
  @apply transition-[color]
									duration-[0.16s]
									ease-[linear]
									will-change-[color];

  @apply absolute
									inset-0
									block
									h-full
									w-full;

  &,
  path {
   @apply fill-current;
  }
 }

 @media (max-width: $lg) {
  .shaped-box__content-cell--1,
  .shaped-box__content-cell--2 {
   @apply w-full;
  }

  .shaped-box__content-cell--1 {
   @apply pb-[2rem];
  }

  @apply h-[49.179rem]
									w-[28.801rem];

  .shaped-box__content {
   @apply flex-col;
  }

  path {
   d: path(
    "m272.84,491.78h-120.07c-.64,0-1.28-.04-1.9-.11H36.72c-14.65,0-26.53-11.88-26.53-26.53v-182c0-11.23-10.19-21.86-10.19-33.08V15.16C0,6.78,6.78,0,15.16,0h231.35c14.66,0,26.53,11.88,26.53,26.53v133.87c0,13.09,14.97,25.68,14.97,38.77v277.46c0,8.37-6.78,15.16-15.16,15.16h-.01Z"
   );
  }
 }
}

.shaped-box {
 &__t {
  @apply title-1-3-v1
									pb-[1.6rem]
							text-black;
 }

 &__d {
  @apply title-1-6-v2
									pb-[2.4rem]
							text-black;
 }

 &__a {
  @apply link-v1
									rel
									inline-flex
									items-center
									gap-x-[0.7rem]
									pr-[2.001rem]
							text-black;
 }
}

.arr-group {
 @apply flex
								h-[1.6rem]
								w-[1.6rem]
								items-center
								justify-center
								rounded-[50%]
								border
								border-solid
						border-black;

 svg {
  @apply fill-current;
 }
}

.shaped-img {
 mask-image: svg-load("../../assets/svg/shapes/shape-4.svg");
 mask-repeat: no-repeat;

 @apply h-[24.4rem]
								w-[18.5rem];
}

.running-link {
 .swiper-slide {
  width: auto;
  display: flex;
  padding-right: 20px;
 }
}
