/*
 * Author: Hayk Ghazaryan
 * Email: hayk.ghazaryanc@gmail.com
 * GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
 * Date: January 2025
 */

@import url("base/media-query.scss");

@import url("../common/dev/sections.scss");

@import url("tw-utils/grid.scss");
@import url("tw-utils/extends.scss");

@import url("base/sides.scss");
@import url("base/gap.scss");
@import url("base/typography.scss");
@import url("base/root.scss");
@import url("base/main.scss");
@import url("base/selection.scss");
@import url("base/scroll.scss");
@import url("base/text-gradient.scss");
@import url("base/sprite-icons.scss");

@import url("components/atoms/main.scss");

@import url("components/soc.scss");
@import url("components/short-txt.scss");
@import url("components/dividing-line.scss");
@import url("components/list-1.scss");
@import url("components/main-footer.scss");
@import url("components/logo.scss");
@import url("components/s9.scss");
@import url("components/grid-9.scss");

@tailwind utilities;
@tailwind base;
@tailwind components;

.gap,
.gap-x,
.gap-y {
 @apply transition-[column-gap,row-gap]
								duration-[0.16s,0.16s]
								ease-[linear,linear]
								will-change-[column-gap,row-gap];
}

:root {
 @apply cursor-default
								font-primary
								text-62-5p
								font-400
								tracking-normal;
}

html,
body {
 @apply bg-white;
}

body {
 @apply overflow-x-hidden
								text-[0];
}

.s-7 {
 @apply bg-green-100/10;
 &__fix {
  @apply ~py-[3rem]/[12rem]
									sm:py-[3rem];
 }

 .s-t {
  @apply mx-auto
									max-w-[71rem]
									text-center
							text-black
									~pb-[3.4rem]/[6.8rem]
									sm:pb-[3.4rem];
 }
}

.s-t {
 @apply title-1-1-v1;
}

.grid-7 {
 @apply gap
								grid
								grid-cols-[repeat(12,1fr)];

 /* prettier-ignore */
 grid-template-areas:
	"it-1 it-1 it-1 it-2 it-2 it-2 it-3 it-3 it-3 it-4 it-4 it-4";

 @media (max-width: $lg) {
  grid-template-areas:
   ". . it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 . ."
   ". . it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 . .";
 }

 @media (max-width: $mdx) {
  grid-template-areas:
   ". it-1 it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 ."
   ". it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4 .";
 }

 @media (max-width: $mdxxx) {
  grid-template-areas:
   ". it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 ."
   ". it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 ."
   ". it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 ."
   ". it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 .";
 }

 @media (max-width: $mdxxxx) {
  grid-template-areas:
   ". it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 ."
   ". it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 ."
   ". it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 ."
   ". it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 .";
 }

 &__it {
  @apply rel
									block
									aspect-[267/358.02]
									w-full
									overflow-hidden
									rounded-[1.6rem]
							bg-green-250;

  &:nth-child(1) {
   grid-area: it-1;
  }

  &:nth-child(2) {
   grid-area: it-2;
  }

  &:nth-child(3) {
   grid-area: it-3;
  }

  &:nth-child(4) {
   grid-area: it-4;
  }
 }

 .overlay-custom {
  @apply flex-col
									items-center
									justify-between;
 }
}

.img2-3 {
 @apply block
								w-full;
}

.deco-circle {
 @apply absolute
								block
								aspect-[1/1]
								w-[65.54307116104869%]
								rounded-[50%];

 &--1 {
  @apply left-0
									top-0
									z-[2]
									translate-x-[-45%]
									translate-y-[-40%]
							bg-green-300;
 }

 &--2 {
  @apply bottom-0
									right-0
									z-[3]
									translate-x-[28%]
									translate-y-[34%]
							bg-green-100;
 }
}

.icon-box-1 {
 @apply absolute
								left-[50%]
								top-[50%]
								z-10
								flex
								h-[5.2rem]
								w-[5.2rem]
								translate-x-[-50%]
								translate-y-[-50%]
								items-center
								justify-center
								rounded-[0.801rem]
						bg-slate-250;
}

.article-title-1 {
 @apply block
						text-white

								~px-[1.975rem]/[3.95rem]
								sm:px-[1.975rem];

 @apply text-[2rem]
								leading-[3rem];
}

.overlay-custom {
 @apply z-[1]
								flex
								overflow-hidden;

 &,
 &:after {
  @apply absolute
									inset-0;
 }

 &--fill {
  &:after {
   content: "";
   @apply z-[-1]
										block
								bg-black/40;
  }
 }

 .icons {
  &--deco-6 {
   @apply absolute
										left-[50%]
										top-[50%]
										translate-x-[-50%]
										translate-y-[-50%];

   @apply text-white;
  }
 }

 .ornament {
  @apply absolute
									left-[50%]
									top-[50%]
									h-[43.2rem]
									w-[40.8rem]
									translate-x-[-50%]
									translate-y-[-50%];
 }
}

.equalizer {
 @apply flex
								w-full
								max-w-[11.1rem]
								items-end
								gap-x-[1.4rem]

								~mb-[1.9rem]/[3.8rem]
								~h-[4.5rem]/[7.5rem]

								sm:mb-[1.9rem]
								sm:h-[4.5rem];

 i {
  @apply rel
									block
									w-[1.101rem]
									shrink-0
									grow-0
									overflow-hidden
									rounded-[1.501rem]

							bg-grey-350;

  &:after {
   content: "";
   @apply absolute
										bottom-0
										left-0
										z-10
										block
										h-[20.01%]
										w-full
										rounded-[inherit]
							 bg-white;
  }

  &:nth-child {
   &(1) {
    @apply h-[80.13333333333333%];

    &:after {
     @apply h-[55%];
    }
   }

   &(2) {
    @apply h-[97.33333333333333%];

    &:after {
     @apply h-[71.23287671232877%];
    }
   }

   &(3) {
    @apply h-[78.66666666666667%];

    &:after {
     @apply h-[59.32203389830508%];
    }
   }

   &(4) {
    @apply h-full;

    &:after {
     @apply h-[46.66666666666667%];
    }
   }

   &(5) {
    @apply h-[97.33333333333333%];

    &:after {
     @apply h-[65.75342465753425%];
    }
   }
  }
 }
}

.overlay-custom {
 &__content {
  @apply rel
									z-10
							text-slate-100;

  @apply ~px-[1.45rem]/[2.9rem]
									~py-[0.5rem]/[5rem]

									sm:px-[1.45rem]
									sm:py-[0.5rem];

  &-txt {
   @apply ~text-[1.8rem]/[2.4rem]
										~leading-[2.0rem]/[2.9rem]

										sm:text-[1.8rem]
										sm:leading-[2.0rem];
  }

  .icons {
   @apply mb-[1.4rem];
  }
 }
}
/*
body {
 &:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  background: #000;
  color: #fff;
  z-index: 10;
  font-size: 20px;
  padding: 10px 20px;

  @media (max-width: $xl) {
   content: "xl";
  }

  @media (max-width: $xlx) {
   content: "xlx";
  }

  @media (max-width: $lg) {
   content: "lg";
  }

  @media (max-width: $lgx) {
   content: "lgx";
  }

  @media (max-width: $lgxx) {
   content: "lgxx";
  }

  @media (max-width: $md) {
   content: "md";
  }

  @media (max-width: $mdx) {
   content: "mdx";
  }

  @media (max-width: $mdxxx) {
   content: "mdxxx";
  }

  @media (max-width: $mdxxxx) {
   content: "mdxxxx";
  }

  @media (max-width: $sm) {
   content: "sm";
  }
 }
}
 */
