/*
 * Author: Hayk Ghazaryan
 * Email: hayk.ghazaryanc@gmail.com
 * GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
 * Date: January 2025
 */

@import url("base/media-query.scss");

@import url("../common/dev/sections.scss");

@import url("tw-utils/grid.scss");
@import url("tw-utils/extends.scss");

@import url("base/sides.scss");
@import url("base/gap.scss");
@import url("base/typography.scss");
@import url("base/root.scss");
@import url("base/main.scss");
@import url("base/selection.scss");
@import url("base/scroll.scss");
@import url("base/text-gradient.scss");
@import url("base/sprite-icons.scss");

@import url("components/atoms/main.scss");

@tailwind utilities;
@tailwind base;
@tailwind components;

.gap,
.gap-x,
.gap-y {
 @apply transition-[column-gap,row-gap]
								duration-[0.16s,0.16s]
								ease-[linear,linear]
								will-change-[column-gap,row-gap];
}

:root {
 @apply cursor-default
								font-primary
								text-62-5p
								font-400
								tracking-normal;
}

html,
body {
 @apply bg-white;
}

body {
 @apply overflow-x-hidden
								text-[0];
}

.main-footer {
 @apply min-h-[40rem]
								w-full
						bg-dark-100/20;

 &__fix {
 }
}

.grid-9 {
 @apply gap-x
								grid
								grid-cols-[repeat(12,1fr)];

 grid-template-areas: "it-1 it-1 it-1 it-2 it-2 it-2 it-3 it-3 it-4 it-4 it-5 it-5";

 &__it {
  min-height: 100px;
  background: rgba(0, 255, 255, 0.5);
  &--1 {
   grid-area: it-1;
  }

  &--2 {
   grid-area: it-2;
  }

  &--3 {
   grid-area: it-3;
  }

  &--4 {
   grid-area: it-4;
  }

  &--5 {
   grid-area: it-5;
  }
 }
}
