.s1{
  background:url(../../img/tmp/sections/1-xl.png) no-repeat center top;
  min-height:84px;
}

.s2{
  background:url(../../img/tmp/sections/2-xl.png) no-repeat center top;
  min-height:987px;
}

.s3{
  background:url(../../img/tmp/sections/3-xl.png) no-repeat center top;
  min-height:62px;
}

.s4{
  background:url(../../img/tmp/sections/4-xl.png) no-repeat center top;
  min-height:948px;
}

.s5{
  background:url(../../img/tmp/sections/5-xl.png) no-repeat center top;
  min-height:940px;
}

.s6{
  background:url(../../img/tmp/sections/6-xl.png) no-repeat center top;
  min-height:735px;
}

.s7{
  background:url(../../img/tmp/sections/7-xl.png) no-repeat center top;
  min-height:782px;
}

.s8{
  background:url(../../img/tmp/sections/8-xl.png) no-repeat center top;
  min-height:787px;
}

.s9{
  background:url(../../img/tmp/sections/9-xl.png) no-repeat center top;
  min-height:401px;
}

.px {
  padding-left:3.2rem;
  padding-right:3.2rem;
}

.pl {
  padding-left:3.2rem;
}

.pr {
  padding-right:3.2rem;
}

.mx {
  margin-left:3.2rem;
  margin-right:3.2rem;
}

.ml {
  margin-left:3.2rem;
}

.mr {
  margin-right:3.2rem;
}

.gap {
  gap:2.4rem;
}

.gap-x {
  -moz-column-gap:2.4rem;
       column-gap:2.4rem;
}

.gap-y {
  row-gap:2.4rem;
}

.main-title-v1 {
  font-weight:700;
  font-size:clamp(4.8rem,4.8rem + 1.99vw,7.2rem);
  line-height:clamp(5.733rem,5.733rem + 2.381vw,8.6rem);
}

.title-1-1-v1 {
  font-weight:600;
  font-weight:var(--font-weight-600);
  font-size:clamp(3.2rem,3.2rem + 1.33vw,4.8rem);
  line-height:clamp(3.933rem,3.933rem + 1.551vw,5.8rem);
}

.title-1-4-v1 {
  font-size:2rem;
  font-weight:500;
  font-weight:var(--font-weight-500);
  line-height:2.4rem;
  letter-spacing:0.04rem;
}

.title-5-12-v1 {
  font-weight:500;
  font-weight:var(--font-weight-500);
  font-size:clamp(2.133rem,2.133rem + 0.886vw,3.2rem);
  line-height:clamp(3.2rem,3.2rem + 1.33vw,4.8rem);
}

.title-1-3-v1 {
  font-size:2.4rem;
  font-weight:600;
  font-weight:var(--font-weight-600);
  line-height:2.9rem;
  letter-spacing:0.048rem;
}

.title-1-6-v2 {
  font-size:1.6rem;
  line-height:2.2rem;
}

.main-descr-v1 {
  font-size:1.6rem;
  line-height:2.4rem;
}

.descr-1-1-v1 {
  font-size:1.6rem;
  line-height:2.4rem;
}

.descr-5-12-v1 {
  font-size:1.6rem;
  line-height:2.2rem;
}

.descr-1-3-v1 {
  font-size:1.6rem;
  line-height:2.4rem;
}

.descr-1-4-v2 {
  font-size:1.4rem;
  line-height:2.2rem;
}

.descr-1-4-v3 {
  font-size:2rem;
  line-height:3rem;
}

.descr-1-4-v4 {
  font-size:2.4rem;
  line-height:2.9rem;
}

.link-v1 {
  font-size:1.6rem;
  font-weight:500;
  font-weight:var(--font-weight-500);
  line-height:2.4rem;
}

.link-v2 {
  font-size:1.6rem;
  line-height:2.1rem;
}

.btn-label-v1 {
  font-size:1.6rem;
  font-weight:600;
  font-weight:var(--font-weight-600);
  line-height:1.8rem;
}

.btn-label-v2 {
  font-size:1.6rem;
  font-weight:500;
  font-weight:var(--font-weight-500);
  line-height:2.4rem;
}

:root{
  --font-weight-400:400;
  --font-weight-500:500;
  --font-weight-600:600;
  --opacity-5:0.05;
  --opacity-10:0.1;
  --opacity-40:0.4;
  --font-size-62-5p:62.5%;
  --font-family-primary:Outfit, sans-serif;
  --max-width-xl:120.4rem;
  --z-index-10:10;
}

html {
  text-decoration-line:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration-line:none;
}

select,
option,
a,
button,
input {
  font-family:Outfit, sans-serif;
  font-family:var(--font-family-primary);
  text-decoration-line:none;
}

body ::-moz-selection{
 }

body ::selection{
 }

body::-webkit-scrollbar {
  height:8px;
  width:8px;
}

body::-webkit-scrollbar-button {
  height:0px;
  width:0px;
}

body::-webkit-scrollbar-track {
  --tw-bg-opacity:1;
  background-color:rgba( 0 0 0         / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
body::-webkit-scrollbar-track {
    background-color:rgba( 0 0 0         / var(--tw-bg-opacity, 1));
  }
}

body::-webkit-scrollbar-track:vertical:hover{
  }

body::-webkit-scrollbar-thumb:vertical:hover{
  }

body::-webkit-scrollbar-track-piece{
 }

body::-webkit-scrollbar-corner {
  height:0px;
  width:0px;
}

body::-webkit-resizer{
 }

.text-gradient{
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.icons--arrow-down {
  aspect-ratio:12.06/6.23;
  height:auto;
  width:1.206rem;
}

.icons--arrow-long-next {
  aspect-ratio:75/14.72;
  height:auto;
  width:7.5rem;
}

.icons--arrow-small-top-right {
  aspect-ratio:6.51/5.17;
  height:auto;
  width:0.651rem;
}

.icons--arrow-top-right {
  aspect-ratio:15.1/11.43;
  height:auto;
  width:1.51rem;
}

.icons--burger {
  aspect-ratio:20/14;
  height:auto;
  width:2rem;
}

.icons--deco-1 {
  aspect-ratio:23.76/23.7;
  height:auto;
  width:2.3760000000000003rem;
}

.icons--deco-6 {
  aspect-ratio:71.98/71.29;
  height:auto;
  width:7.198rem;
}

.icons--deco-7 {
  aspect-ratio:41.89/42;
  height:auto;
  width:4.189rem;
}

.icons--global {
  aspect-ratio:14.84/14.84;
  height:auto;
  width:1.484rem;
}

.icons--magnifying {
  aspect-ratio:21.5/21.5;
  height:auto;
  width:2.15rem;
}

.icons--soc-fb {
  aspect-ratio:6.89/12.8;
  height:auto;
  width:0.689rem;
}

.icons--soc-in {
  aspect-ratio:12.82/12.81;
  height:auto;
  width:1.282rem;
}

.icons--soc-tw {
  aspect-ratio:12.8/10.4;
  height:auto;
  width:1.28rem;
}

.icons--star {
  aspect-ratio:22.48/21.49;
  height:auto;
  width:2.248rem;
}

.icons--sun {
  aspect-ratio:31.19/32.01;
  height:auto;
  width:3.119rem;
}

.fix-generate {
  max-width:120.4rem;
  max-width:var(--max-width-xl);
  padding-left:3.2rem;
  padding-right:3.2rem;
}

.fix {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  left:0px;
  top:0px;
  max-width:120.4rem;
  max-width:var(--max-width-xl);
  padding-left:3.2rem;
  padding-right:3.2rem;
}

.soc {
  display:inline-flex;
  -moz-column-gap:1.2rem;
       column-gap:1.2rem;
}

.soc-link {
  display:flex;
  height:3.2rem;
  width:3.2rem;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  border-width:1px;
  border-style:solid;
  --tw-border-opacity:1;
  border-color:rgba( 255 255 255   / 1);
  --tw-text-opacity:1;
  color:rgba( 255 255 255   / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
.soc-link {
    border-color:rgba( 255 255 255   / var(--tw-border-opacity, 1));
    color:rgba( 255 255 255   / var(--tw-text-opacity, 1));
  }
}

.soc-link:hover {
  --tw-border-opacity:1;
  border-color:rgba( 132 221 91 / 1);
  --tw-bg-opacity:1;
  background-color:rgba( 132 221 91 / 1);
  --tw-text-opacity:1;
  color:rgba( 0 0 0         / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
.soc-link:hover {
    border-color:rgba( 132 221 91 / var(--tw-border-opacity, 1));
    background-color:rgba( 132 221 91 / var(--tw-bg-opacity, 1));
    color:rgba( 0 0 0         / var(--tw-text-opacity, 1));
  }
}

.soc-link {
  transition-property:border,background,color;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms;
  transition-duration:0.16s,0.16s,0.16s;
  transition-timing-function:linear,linear,linear;
  will-change:border,background,color;
}

.short-txt {
  --tw-text-opacity:1;
  color:rgba( 136 136 144 / 1);
  font-size:1.4rem;
  line-height:2.2rem;
}

@supports (color: rgba(0 0 0 / 0)) {
.short-txt {
    color:rgba( 136 136 144 / var(--tw-text-opacity, 1));
  }
}

.short-txt--bottom-footer {
  padding-bottom:2.8rem;
  padding-top:2.7rem;
  text-align:center;
}

.dividing-line {
  height:1px;
  width:100%;
  border-width:0px;
  background-color:rgba( 255 255 255   / 0.05);
}

@supports (color: rgba(0 0 0 / 0)) {
.dividing-line {
    background-color:rgba( 255 255 255   / var(--opacity-5));
  }
}

.list-1__li {
  padding-bottom:clamp(1rem,1rem + 0.71vw,1.85rem);
}

.list-1__a {
  display:inline-block;
  --tw-text-opacity:1;
  color:rgba( 136 136 144 / 1);
  position:relative;
  left:0px;
  top:0px;
  font-size:1.6rem;
  line-height:2.1rem;
  transition-property:color;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms;
  transition-duration:0.16s;
  transition-timing-function:linear;
  will-change:color;
}

@supports (color: rgba(0 0 0 / 0)) {
.list-1__a {
    color:rgba( 136 136 144 / var(--tw-text-opacity, 1));
  }
}

.list-1__a:hover {
  --tw-text-opacity:1;
  color:rgba( 255 255 255   / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
.list-1__a:hover {
    color:rgba( 255 255 255   / var(--tw-text-opacity, 1));
  }
}

.list-1__a:hover:after {
  transform-origin:bottom left;
  --tw-scale-x:1;
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(1) scaleY(var(--tw-scale-y));
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.list-1__a:after{
   content:"";
   position:absolute;
   bottom:-0.5rem;
   display:block;
   height:1px;
   width:100%;
   transform-origin:bottom right;
   --tw-scale-x:0;
   transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(0) scaleY(var(--tw-scale-y));
   transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
   background-color:currentColor;
   transition-property:transform,color;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration:150ms;
   transition-duration:0.16s,0.16s;
   transition-timing-function:linear,linear;
   will-change:transform,color;
  }

.main-footer {
  min-height:40rem;
  width:100%;
  --tw-bg-opacity:1;
  background-color:rgba( 3 25 19 / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
.main-footer {
    background-color:rgba( 3 25 19 / var(--tw-bg-opacity, 1));
  }
}

.main-footer__fix {
  padding-top:clamp(4rem,4rem + 3.32vw,8rem);
}

.logo {
  display:inline-block;
  width:100%;
  max-width:13.624rem;
}

.logo__img {
  display:block;
  height:auto;
  width:100%;
}

.s9__t {
  --tw-text-opacity:1;
  color:rgba( 255 255 255   / 1);
  padding-bottom:clamp(2.7rem,2.7rem + 1.08vw,4rem);
  font-size:1.6rem;
  line-height:2.2rem;
}

@supports (color: rgba(0 0 0 / 0)) {
.s9__t {
    color:rgba( 255 255 255   / var(--tw-text-opacity, 1));
  }
}

.grid-9 {
  display:grid;
  grid-template-columns:repeat(12,1fr);
  grid-column-gap:2.4rem;
  -moz-column-gap:2.4rem;
       column-gap:2.4rem;
}

.grid-9 {
  transition-property:column-gap,row-gap;
  transition-property:column-gap,row-gap,-moz-column-gap;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms;
  transition-duration:0.16s,0.16s;
  transition-timing-function:linear,linear;
  will-change:column-gap,row-gap;

 grid-template-areas:"it-1 it-1 it-1 it-2 it-2 it-2 it-3 it-3 it-4 it-4 it-5 it-5";
}

.grid-9__it {
  padding-bottom:1.9rem;
}

.grid-9__it .logo {
  margin-bottom:1.7rem;
}

.grid-9__it .short-txt {
  margin-bottom:7.01rem;
  max-width:22rem;
}

.grid-9__it--1{
   grid-area:it-1;
  }

.grid-9__it--2{
   grid-area:it-2;
  }

.grid-9__it--3{
   grid-area:it-3;
  }

.grid-9__it--4{
   grid-area:it-4;
  }

.grid-9__it--5{
   grid-area:it-5;
  }

.rel {
  position:relative;
  left:0px;
  top:0px;
}

*, ::before, ::after {
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
}

::backdrop {
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
}

/* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */

*,
::before,
::after{
  box-sizing:border-box;
  border-width:0;
  border-style:solid;
  border-color:#e5e7eb;
}

::before,
::after{
}

html,
:host{
  line-height:1.5;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  -o-tab-size:4;
     tab-size:4;
  font-family:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings:normal;
  font-variation-settings:normal;
  -webkit-tap-highlight-color:transparent;
}

body{
  margin:0;
  line-height:inherit;
}

hr{
  height:0;
  color:inherit;
  border-top-width:1px;
}

abbr:where([title]){
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-size:inherit;
  font-weight:inherit;
}

a{
  color:inherit;
  text-decoration:inherit;
}

b,
strong{
  font-weight:bolder;
}

code,
kbd,
samp,
pre{
  font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings:normal;
  font-variation-settings:normal;
  font-size:1em;
}

small{
  font-size:80%;
}

sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-0.25em;
}

sup{
  top:-0.5em;
}

table{
  text-indent:0;
  border-color:inherit;
  border-collapse:collapse;
}

button,
input,
optgroup,
select,
textarea{
  font-family:inherit;
  font-feature-settings:inherit;
  font-variation-settings:inherit;
  font-size:100%;
  font-weight:inherit;
  line-height:inherit;
  letter-spacing:inherit;
  color:inherit;
  margin:0;
  padding:0;
}

button,
select{
  text-transform:none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']){
  -webkit-appearance:button;
  background-color:transparent;
  background-image:none;
}

:-moz-focusring{
  outline:auto;
}

:-moz-ui-invalid{
  box-shadow:none;
}

progress{
  vertical-align:baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
  height:auto;
}

[type='search']{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}

::-webkit-search-decoration{
  -webkit-appearance:none;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}

summary{
  display:list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre{
  margin:0;
}

fieldset{
  margin:0;
  padding:0;
}

legend{
  padding:0;
}

ol,
ul,
menu{
  list-style:none;
  margin:0;
  padding:0;
}

dialog{
  padding:0;
}

textarea{
  resize:vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder{
  opacity:1;
  color:#9ca3af;
}

input::placeholder,
textarea::placeholder{
  opacity:1;
  color:#9ca3af;
}

button,
[role="button"]{
  cursor:pointer;
}

:disabled{
  cursor:default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object{
  display:block;
  vertical-align:middle;
}

img,
video{
  max-width:100%;
  height:auto;
}

[hidden]:where(:not([hidden="until-found"])){
  display:none;
}

.gap,
.gap-x,
.gap-y {
  transition-property:column-gap,row-gap;
  transition-property:column-gap,row-gap,-moz-column-gap;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms;
  transition-duration:0.16s,0.16s;
  transition-timing-function:linear,linear;
  will-change:column-gap,row-gap;
}

:root {
  cursor:default;
  font-family:Outfit, sans-serif;
  font-family:var(--font-family-primary);
  font-size:62.5%;
  font-size:var(--font-size-62-5p);
  font-weight:400;
  font-weight:var(--font-weight-400);
  letter-spacing:0em;
}

html,
body {
  --tw-bg-opacity:1;
  background-color:rgba( 255 255 255   / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
html,
body {
    background-color:rgba( 255 255 255   / var(--tw-bg-opacity, 1));
  }
}

body {
  overflow-x:hidden;
  font-size:0;
}

.s-7 {
  background-color:rgba( 147 225 74 / 0.1);
}

@supports (color: rgba(0 0 0 / 0)) {
.s-7 {
    background-color:rgba( 147 225 74 / var(--opacity-10));
  }
}

.s-7__fix {
  padding-top:clamp(3rem,3rem + 7.48vw,12rem);
  padding-bottom:clamp(3rem,3rem + 7.48vw,12rem);
}

.s-7 .s-t {
  margin-left:auto;
  margin-right:auto;
  max-width:71rem;
  text-align:center;
  --tw-text-opacity:1;
  color:rgba( 0 0 0         / 1);
  padding-bottom:clamp(3.4rem,3.4rem + 2.82vw,6.8rem);
}

@supports (color: rgba(0 0 0 / 0)) {
.s-7 .s-t {
    color:rgba( 0 0 0         / var(--tw-text-opacity, 1));
  }
}

.s-t {
  font-weight:600;
  font-weight:var(--font-weight-600);
  font-size:clamp(3.2rem,3.2rem + 1.33vw,4.8rem);
  line-height:clamp(3.933rem,3.933rem + 1.551vw,5.8rem);
}

.grid-7 {
  display:grid;
  grid-template-columns:repeat(12,1fr);
  grid-gap:2.4rem;
  gap:2.4rem;
}

.grid-7 {
  transition-property:column-gap,row-gap;
  transition-property:column-gap,row-gap,-moz-column-gap;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms;
  transition-duration:0.16s,0.16s;
  transition-timing-function:linear,linear;
  will-change:column-gap,row-gap;

 grid-template-areas:"it-1 it-1 it-1 it-2 it-2 it-2 it-3 it-3 it-3 it-4 it-4 it-4";
}

.grid-7__it {
  display:block;
  aspect-ratio:267/358.02;
  width:100%;
  overflow:hidden;
  border-radius:1.6rem;
  --tw-bg-opacity:1;
  background-color:rgba( 215 255 177 / 1);
  position:relative;
  left:0px;
  top:0px;
}

@supports (color: rgba(0 0 0 / 0)) {
.grid-7__it {
    background-color:rgba( 215 255 177 / var(--tw-bg-opacity, 1));
  }
}

.grid-7__it:nth-child(1){
   grid-area:it-1;
  }

.grid-7__it:nth-child(2){
   grid-area:it-2;
  }

.grid-7__it:nth-child(3){
   grid-area:it-3;
  }

.grid-7__it:nth-child(4){
   grid-area:it-4;
  }

.grid-7 .overlay-custom {
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
}

.img2-3 {
  display:block;
  width:100%;
}

.deco-circle {
  position:absolute;
  display:block;
  aspect-ratio:1/1;
  width:65.54307116104869%;
  border-radius:50%;
}

.deco-circle--1 {
  left:0px;
  top:0px;
  z-index:2;
  --tw-translate-x:-45%;
  --tw-translate-y:-40%;
  transform:translate(-45%, -40%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity:1;
  background-color:rgba( 199 216 183 / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
.deco-circle--1 {
    background-color:rgba( 199 216 183 / var(--tw-bg-opacity, 1));
  }
}

.deco-circle--2 {
  bottom:0px;
  right:0px;
  z-index:3;
  --tw-translate-x:28%;
  --tw-translate-y:34%;
  transform:translate(28%, 34%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity:1;
  background-color:rgba( 147 225 74 / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
.deco-circle--2 {
    background-color:rgba( 147 225 74 / var(--tw-bg-opacity, 1));
  }
}

.icon-box-1 {
  position:absolute;
  left:50%;
  top:50%;
  z-index:10;
  z-index:var(--z-index-10);
  display:flex;
  height:5.2rem;
  width:5.2rem;
  --tw-translate-x:-50%;
  --tw-translate-y:-50%;
  transform:translate(-50%, -50%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  align-items:center;
  justify-content:center;
  border-radius:0.801rem;
  --tw-bg-opacity:1;
  background-color:rgba( 65 109 100 / 1);
}

@supports (color: rgba(0 0 0 / 0)) {
.icon-box-1 {
    background-color:rgba( 65 109 100 / var(--tw-bg-opacity, 1));
  }
}

.article-title-1 {
  display:block;
  --tw-text-opacity:1;
  color:rgba( 255 255 255   / 1);
  padding-left:clamp(1.975rem,1.975rem + 1.64vw,3.95rem);
  padding-right:clamp(1.975rem,1.975rem + 1.64vw,3.95rem);
}

@supports (color: rgba(0 0 0 / 0)) {
.article-title-1 {
    color:rgba( 255 255 255   / var(--tw-text-opacity, 1));
  }
}

.article-title-1 {
  font-size:clamp(1.4rem,1.4rem + 0.5vw,2rem);
  line-height:clamp(1.5rem,1.5rem + 1.25vw,3rem);
}

.overlay-custom {
  z-index:1;
  display:flex;
  overflow:hidden;
}

.overlay-custom,
 .overlay-custom:after {
  position:absolute;
  inset:0px;
}

.overlay-custom--fill:after{
   content:"";
   z-index:-1;
   display:block;
   background-color:rgba( 0 0 0         / 0.4);
  }

@supports (color: rgba(0 0 0 / 0)) {
.overlay-custom--fill:after{
   background-color:rgba( 0 0 0         / var(--opacity-40));
  }
}

.overlay-custom .icons--deco-6{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);
   --tw-text-opacity:1;
   color:rgba( 255 255 255   / 1);
  }

@supports (color: rgba(0 0 0 / 0)) {
.overlay-custom .icons--deco-6{
   color:rgba( 255 255 255   / var(--tw-text-opacity, 1));
  }
}

.overlay-custom .ornament{
  position:absolute;
  top:50%;
  left:50%;
  width:408px;
  height:432px;
  transform:translate(-50%, -50%);
 }

.equalizer {
  display:flex;
  width:100%;
  max-width:11.1rem;
  align-items:flex-end;
  -moz-column-gap:1.4rem;
       column-gap:1.4rem;
  margin-bottom:clamp(1.9rem,1.9rem + 1.58vw,3.8rem);
  height:clamp(4.5rem,4.5rem + 2.49vw,7.5rem);
}

.equalizer i {
  display:block;
  width:1.101rem;
  flex-shrink:0;
  flex-grow:0;
  overflow:hidden;
  border-radius:1.501rem;
  --tw-bg-opacity:1;
  background-color:rgba( 176 176 176 / 1);
  position:relative;
  left:0px;
  top:0px;
}

@supports (color: rgba(0 0 0 / 0)) {
.equalizer i {
    background-color:rgba( 176 176 176 / var(--tw-bg-opacity, 1));
  }
}

.equalizer i:after{
   content:"";
   position:absolute;
   bottom:0px;
   left:0px;
   z-index:10;
   z-index:var(--z-index-10);
   display:block;
   height:20.01%;
   width:100%;
   border-radius:inherit;
   --tw-bg-opacity:1;
   background-color:rgba( 255 255 255   / 1);
  }

@supports (color: rgba(0 0 0 / 0)) {
.equalizer i:after{
   background-color:rgba( 255 255 255   / var(--tw-bg-opacity, 1));
  }
}

.equalizer i:nth-child(1) {
  height:80.13333333333333%;
}

.equalizer i:nth-child(1):after {
  height:55%;
}

.equalizer i:nth-child(2) {
  height:97.33333333333333%;
}

.equalizer i:nth-child(2):after {
  height:71.23287671232877%;
}

.equalizer i:nth-child(3) {
  height:78.66666666666667%;
}

.equalizer i:nth-child(3):after {
  height:59.32203389830508%;
}

.equalizer i:nth-child(4) {
  height:100%;
}

.equalizer i:nth-child(4):after {
  height:46.66666666666667%;
}

.equalizer i:nth-child(5) {
  height:97.33333333333333%;
}

.equalizer i:nth-child(5):after {
  height:65.75342465753425%;
}

.overlay-custom__content {
  z-index:10;
  z-index:var(--z-index-10);
  --tw-text-opacity:1;
  color:rgba( 44 86 72 / 1);
  position:relative;
  left:0px;
  top:0px;
  padding-left:clamp(1.45rem,1.45rem + 1.2vw,2.9rem);
  padding-right:clamp(1.45rem,1.45rem + 1.2vw,2.9rem);
  padding-top:clamp(2.5rem,2.5rem + 2.08vw,5rem);
  padding-bottom:clamp(2.5rem,2.5rem + 2.08vw,5rem);
}

@supports (color: rgba(0 0 0 / 0)) {
.overlay-custom__content {
    color:rgba( 44 86 72 / var(--tw-text-opacity, 1));
  }
}

.overlay-custom__content-txt {
  font-size:clamp(1rem,1rem + 1.16vw,2.4rem);
  line-height:clamp(1.3rem,1.3rem + 1.33vw,2.9rem);
}

.overlay-custom__content .icons {
  margin-bottom:1.4rem;
}

@media (max-width: 75.25rem) {

.s1{
    background:url(../../img/tmp/sections/1-sm.png) no-repeat center top;
    min-height:81px
}

.s2{
    background:url(../../img/tmp/sections/2-sm.png) no-repeat center top;
    min-height:950px
}

.s3{
    background:url(../../img/tmp/sections/3-sm.png) no-repeat center top;
    min-height:62px
}

.s4{
    background:url(../../img/tmp/sections/4-sm.png) no-repeat center top;
    min-height:1660px
}

.s5{
    background:url(../../img/tmp/sections/5-sm.png) no-repeat center top;
    min-height:1080px
}

.s6{
    background:url(../../img/tmp/sections/6-sm.png) no-repeat center top;
    min-height:468px
}

.s7{
    background:url(../../img/tmp/sections/7-sm.png) no-repeat center top;
    min-height:1900px
}

.s8{
    background:url(../../img/tmp/sections/8-sm.png) no-repeat center top;
    min-height:499px
}

.s9{
    background:url(../../img/tmp/sections/9-sm.png) no-repeat center top;
    min-height:1303px
}

.px {
    padding-left:3.2rem;
    padding-right:3.2rem;
  }

.pl {
    padding-left:3.2rem;
  }

.pr {
    padding-right:3.2rem;
  }

.mx {
    margin-left:3.2rem;
    margin-right:3.2rem;
  }

.ml {
    margin-left:3.2rem;
  }

.mr {
    margin-right:3.2rem;
  }

.gap {
    gap:1.6rem;
  }

.gap-x {
    -moz-column-gap:1.6rem;
         column-gap:1.6rem;
  }

.gap-y {
    row-gap:1.6rem;
  }

.fix-generate {
    padding-left:3.2rem;
    padding-right:3.2rem;
  }

.fix {
    padding-left:3.2rem;
    padding-right:3.2rem;
  }

.grid-9 {
    -moz-column-gap:1.6rem;
         column-gap:1.6rem;
  }

.grid-7 {
    gap:1.6rem;
  }
}

@media (max-width: 69rem) {

  .px {
    padding-left:3.2rem;
    padding-right:3.2rem;
  }

  .pl {
    padding-left:3.2rem;
  }

  .pr {
    padding-right:3.2rem;
  }

  .mx {
    margin-left:3.2rem;
    margin-right:3.2rem;
  }

  .ml {
    margin-left:3.2rem;
  }

  .mr {
    margin-right:3.2rem;
  }

  .gap {
    gap:2.4rem;
  }

  .gap-x {
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

  .gap-y {
    row-gap:2.4rem;
  }

  .fix-generate {
    padding-left:3.2rem;
    padding-right:3.2rem;
  }

  .fix {
    padding-left:3.2rem;
    padding-right:3.2rem;
  }

  .grid-9 {
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

  .grid-7 {
    gap:2.4rem;
  }
}

@media (max-width: 64rem) {

  .px {
    padding-left:2.4rem;
    padding-right:2.4rem;
  }

  .pl {
    padding-left:2.4rem;
  }

  .pr {
    padding-right:2.4rem;
  }

  .mx {
    margin-left:2.4rem;
    margin-right:2.4rem;
  }

  .ml {
    margin-left:2.4rem;
  }

  .mr {
    margin-right:2.4rem;
  }

  .gap {
    gap:2.4rem;
  }

  .gap-x {
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

  .gap-y {
    row-gap:2.4rem;
  }

  .fix-generate {
    padding-left:2.4rem;
    padding-right:2.4rem;
  }

  .fix {
    padding-left:2.4rem;
    padding-right:2.4rem;
  }

  .grid-9 {
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

.grid-9{
  grid-template-areas:". it-2 it-2 it-2 it-3 it-3 it-4 it-4 it-4 it-5 it-5 ." ". . . it-1 it-1 it-1 it-1 it-1 it-1 . . ."
}

  .grid-9 .grid-9__it--1 {
    text-align:center;
  }

   .grid-9 .grid-9__it--1 .short-txt {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2.01rem;
  }

   .grid-7 {
    gap:2.4rem;
  }
}

@media (max-width: 57.75rem) {

  .px {
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .pl {
    padding-left:2.2rem;
  }

  .pr {
    padding-right:2.2rem;
  }

  .mx {
    margin-left:2.2rem;
    margin-right:2.2rem;
  }

  .ml {
    margin-left:2.2rem;
  }

  .mr {
    margin-right:2.2rem;
  }

  .gap {
    gap:2.4rem;
  }

  .gap-x {
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

  .gap-y {
    row-gap:2.4rem;
  }

  .fix-generate {
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .fix {
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .grid-9 {
    -moz-column-gap:2.4rem;
         column-gap:2.4rem;
  }

  .grid-7 {
    gap:2.4rem;
  }
}

@media (max-width: 51.5rem) {

  .px {
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .pl {
    padding-left:2.2rem;
  }

  .pr {
    padding-right:2.2rem;
  }

  .mx {
    margin-left:2.2rem;
    margin-right:2.2rem;
  }

  .ml {
    margin-left:2.2rem;
  }

  .mr {
    margin-right:2.2rem;
  }

  .gap {
    gap:2rem;
  }

  .gap-x {
    -moz-column-gap:2rem;
         column-gap:2rem;
  }

  .gap-y {
    row-gap:2rem;
  }

  .fix-generate {
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .fix {
    padding-left:2.2rem;
    padding-right:2.2rem;
  }

  .grid-9 {
    -moz-column-gap:2rem;
         column-gap:2rem;
  }

.grid-9{
  grid-template-areas:". . it-2 it-2 it-2 it-2 it-2 it-3 it-3 it-3 it-3 it-3" ". . it-4 it-4 it-4 it-4 it-4 it-5 it-5 it-5 it-5 it-5" ". . . it-1 it-1 it-1 it-1 it-1 it-1 . . ."
}

.grid-7 {
    gap:2rem;
  }

.grid-7{
  grid-template-areas:"it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-3 it-3 it-3 it-3" " . . . . it-4 it-4 it-4 it-4 . . . ."
}
}

@media (max-width: 48rem) {

  .px {
    padding-left:2rem;
    padding-right:2rem;
  }

  .pl {
    padding-left:2rem;
  }

  .pr {
    padding-right:2rem;
  }

  .mx {
    margin-left:2rem;
    margin-right:2rem;
  }

  .ml {
    margin-left:2rem;
  }

  .mr {
    margin-right:2rem;
  }

  .gap {
    gap:2rem;
  }

  .gap-x {
    -moz-column-gap:2rem;
         column-gap:2rem;
  }

  .gap-y {
    row-gap:2rem;
  }

  .fix-generate {
    padding-left:2rem;
    padding-right:2rem;
  }

  .fix {
    padding-left:2rem;
    padding-right:2rem;
  }

  .grid-9 {
    -moz-column-gap:2rem;
         column-gap:2rem;
  }

  .grid-7 {
    gap:2rem;
  }
}

@media (max-width: 41.75rem) {

  .px {
    padding-left:2rem;
    padding-right:2rem;
  }

  .pl {
    padding-left:2rem;
  }

  .pr {
    padding-right:2rem;
  }

  .mx {
    margin-left:2rem;
    margin-right:2rem;
  }

  .ml {
    margin-left:2rem;
  }

  .mr {
    margin-right:2rem;
  }

  .gap {
    gap:1.2rem;
  }

  .gap-x {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y {
    row-gap:1.2rem;
  }

  .fix-generate {
    padding-left:2rem;
    padding-right:2rem;
  }

  .fix {
    padding-left:2rem;
    padding-right:2rem;
  }

  .grid-9 {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

.grid-9{
  grid-template-areas:". it-2 it-2 it-2 it-2 it-2 it-2 it-3 it-3 it-3 it-3 it-3" ". it-4 it-4 it-4 it-4 it-4 it-4 it-5 it-5 it-5 it-5 it-5" ". . . it-1 it-1 it-1 it-1 it-1 it-1 . . ."
}

.grid-7 {
    gap:1.2rem;
  }

.grid-7{
  grid-template-areas:". it-1 it-1 it-1 it-1 it-1 it-2 it-2 it-2 it-2 it-2 ." ". it-3 it-3 it-3 it-3 it-3 it-4 it-4 it-4 it-4 it-4 ."
}
}

@media (max-width: 35.5rem) {

  .px {
    padding-left:1.8rem;
    padding-right:1.8rem;
  }

  .pl {
    padding-left:1.8rem;
  }

  .pr {
    padding-right:1.8rem;
  }

  .mx {
    margin-left:1.8rem;
    margin-right:1.8rem;
  }

  .ml {
    margin-left:1.8rem;
  }

  .mr {
    margin-right:1.8rem;
  }

  .gap {
    gap:1.2rem;
  }

  .gap-x {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y {
    row-gap:1.2rem;
  }

  .fix-generate {
    padding-left:1.8rem;
    padding-right:1.8rem;
  }

  .fix {
    padding-left:1.8rem;
    padding-right:1.8rem;
  }

  .grid-9 {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .grid-7 {
    gap:1.2rem;
  }
}

@media (max-width: 29.25rem) {

  .px {
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .pl {
    padding-left:1.6rem;
  }

  .pr {
    padding-right:1.6rem;
  }

  .mx {
    margin-left:1.6rem;
    margin-right:1.6rem;
  }

  .ml {
    margin-left:1.6rem;
  }

  .mr {
    margin-right:1.6rem;
  }

  .gap {
    gap:1.2rem;
  }

  .gap-x {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y {
    row-gap:1.2rem;
  }

  .fix-generate {
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .fix {
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .grid-9 {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

.grid-9{
  grid-template-areas:". . it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 ." ". . it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 ." ". . it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 ." ". . it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 ." ". . it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 ."
}

.grid-7 {
    gap:1.2rem;
  }

.grid-7{
  grid-template-areas:". . it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 . ." ". . it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 . ." ". . it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 . ." ". . it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 . ."
}
}

@media (max-width: 23rem) {

  .px {
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .pl {
    padding-left:1.6rem;
  }

  .pr {
    padding-right:1.6rem;
  }

  .mx {
    margin-left:1.6rem;
    margin-right:1.6rem;
  }

  .ml {
    margin-left:1.6rem;
  }

  .mr {
    margin-right:1.6rem;
  }

  .gap {
    gap:1.2rem;
  }

  .gap-x {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .gap-y {
    row-gap:1.2rem;
  }

  .fix-generate {
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .fix {
    padding-left:1.6rem;
    padding-right:1.6rem;
  }

  .grid-9 {
    -moz-column-gap:1.2rem;
         column-gap:1.2rem;
  }

  .grid-7 {
    gap:1.2rem;
  }

.grid-7{
  grid-template-areas:". it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 ." ". it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 ." ". it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 ." ". it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 ."
}
}

@media (max-width: 20rem) {

  .list-1__li {
    padding-bottom:1rem;
  }

  .main-footer__fix {
    padding-top:4rem;
  }

  .s9__t {
    padding-bottom:2.7rem;
  }

.grid-9{
  grid-template-areas:". it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2 it-2" ". it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3 it-3" ". it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4 it-4" ". it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5 it-5" "it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1 it-1"
}

.s-7__fix {
    padding-top:3rem;
    padding-bottom:3rem;
  }

.s-7 .s-t {
    padding-bottom:3.4rem;
  }

.article-title-1 {
    padding-left:1.975rem;
    padding-right:1.975rem;
  }

.article-title-1 {
    font-size:1.4rem;
    line-height:1.5rem;
  }

.equalizer {
    margin-bottom:1.9rem;
    height:4.5rem;
  }

.overlay-custom__content {
    padding-left:1.45rem;
    padding-right:1.45rem;
    padding-top:2.5rem;
    padding-bottom:2.5rem;
  }

.overlay-custom__content-txt {
    font-size:1.6rem;
    line-height:2.1rem;
  }
}
