.s1 {
  background: url(../../img/tmp/sections/1-xl.png) no-repeat center top;
  min-height: 84px;
}

.s2 {
  background: url(../../img/tmp/sections/2-xl.png) no-repeat center top;
  min-height: 987px;
}

.s3 {
  background: url(../../img/tmp/sections/3-xl.png) no-repeat center top;
  min-height: 62px;
}

.s4 {
  background: url(../../img/tmp/sections/4-xl.png) no-repeat center top;
  min-height: 948px;
}

.s5 {
  background: url(../../img/tmp/sections/5-xl.png) no-repeat center top;
  min-height: 940px;
}

.s6 {
  background: url(../../img/tmp/sections/6-xl.png) no-repeat center top;
  min-height: 735px;
}

.s7 {
  background: url(../../img/tmp/sections/7-xl.png) no-repeat center top;
  min-height: 782px;
}

.s8 {
  background: url(../../img/tmp/sections/8-xl.png) no-repeat center top;
  min-height: 787px;
}

.s9 {
  background: url(../../img/tmp/sections/9-xl.png) no-repeat center top;
  min-height: 401px;
}
