.s1 {
	background: url(../../img/tmp/sections/1-xl.png) no-repeat center top;
	min-height: 84px;
}

.s2 {
	background: url(../../img/tmp/sections/2-xl.png) no-repeat center top;
	min-height: 703px;
}

.s3 {
	background: url(../../img/tmp/sections/3-xl.png) no-repeat center top;
	min-height: 945px;
}

.s4 {
	background: url(../../img/tmp/sections/4-xl.png) no-repeat center top;
	min-height: 653px;
}

.s5 {
	background: url(../../img/tmp/sections/5-xl.png) no-repeat center top;
	min-height: 818px;
}

.s6 {
	background: url(../../img/tmp/sections/6-xl.png) no-repeat center top;
	min-height: 847px;
}

.s7 {
	background: url(../../img/tmp/sections/7-xl.png) no-repeat center top;
	min-height: 519px;
}

.s8 {
	background: url(../../img/tmp/sections/8-xl.png) no-repeat center top;
	min-height: 758px;
}

.s9 {
	background: url(../../img/tmp/sections/9-xl.png) no-repeat center top;
	min-height: 838px;
}

.s10 {
	background: url(../../img/tmp/sections/10-xl.png) no-repeat center top;
	min-height: 464px;
}

.s11 {
	background: url(../../img/tmp/sections/11-xl.png) no-repeat center top;
	min-height: 800px;
}

.s12 {
	background: url(../../img/tmp/sections/12-xl.png) no-repeat center top;
	min-height: 549px;
}

.s13 {
	background: url(../../img/tmp/sections/13-xl.png) no-repeat center top;
	min-height: 782px;
}

.s14 {
	background: url(../../img/tmp/sections/14-xl.png) no-repeat center top;
	min-height: 931px;
}

.s15 {
	background: url(../../img/tmp/sections/15-xl.png) no-repeat center top;
	min-height: 782px;
}

.s16 {
	background: url(../../img/tmp/sections/16-xl.png) no-repeat center top;
	min-height: 782px;
}

.s17 {
	background: url(../../img/tmp/sections/17-xl.png) no-repeat center top;
	min-height: 735px;
}

.s18 {
	background: url(../../img/tmp/sections/18-xl.png) no-repeat center top;
	min-height: 673px;
}

.s19 {
	background: url(../../img/tmp/sections/19-xl.png) no-repeat center top;
	min-height: 1524px;
}

.s20 {
	background: url(../../img/tmp/sections/20-xl.png) no-repeat center top;
	min-height: 2202px;
}

.s21 {
	background: url(../../img/tmp/sections/21-xl.png) no-repeat center top;
	min-height: 1538px;
}

.s22 {
	background: url(../../img/tmp/sections/22-xl.png) no-repeat center top;
	min-height: 1309px;
}
