<header class="main-header">
 <div class="main-header__fix fix">
  <a href="#" class="logo" aria-label="Logo EcoScrap">
   <img
    src="<%=svg %>/logo-1.svg"
    alt=""
    class="logo__img"
    width="136"
    height="40"
    decoding="async"
    loading="lazy"
   />
  </a>

  <div class="group--nav-btn js-mob-menu group">
   <i class="empty-flex-between"></i>

   <nav class="nav">
    <ul class="nav__ul">
     <% menu.forEach((item, index) => { %>
     <li class="nav__li">
      <a href="#" class="nav__a">
       <span class="txt-animation">
        <span class="txt-animation__content" data-hover-txt="<%=item.label %>">
         <span class="txt-animation__content-style"><%=item.label %></span>
        </span>
       </span>
      </a>
     </li>
     <% }) %>
    </ul>
   </nav>

   <div class="group--btn-lang group">
    <div class="dd">
     <span class="dd__select">
      <svg class="icons icons--global" width="14.84" height="14.84" role="presentation">
       <use xlink:href="<%=svgSprite %>#global"></use>
      </svg>
      <span class="dd__select-txt">English</span>
      <svg
       class="icons icons--arrow-down"
       width="12.06"
       height="6.23"
       role="presentation"
      >
       <use xlink:href="<%=svgSprite %>#arrow-down"></use>
      </svg>
     </span>
     <div class="dd__container">
      <div class="dd__content">
       <ul class="list-2">
        <li class="list-2__it">
         <a class="list-2__a" href="#">French</a>
        </li>
        <li class="list-2__it">
         <a class="list-2__a" href="#">German</a>
        </li>
        <li class="list-2__it">
         <a class="list-2__a" href="#"> Spanish </a>
        </li>
       </ul>
      </div>
     </div>
    </div>

    <a
     href="#"
     class="btn btn--lg btn--fill txt-animation"
     role="button"
     aria-label="Sign Up"
    >
     <span class="txt-animation__content" data-hover-txt="Sign Up" role="presentation">
      <span class="txt-animation__content-style">Sign Up</span>
     </span>
    </a>
   </div>
  </div>
  <button aria-label="burger menu" class="burger js-burger">
   <svg width="100" height="100" viewBox="0 0 100 100">
    <path
     class="burger__line burger__line--1"
     d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
    />
    <path class="burger__line burger__line--2" d="M 20,50 H 80" />
    <path
     class="burger__line burger__line--3"
     d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
    />
   </svg>
  </button>
 </div>
</header>
