/*
 * Author: Hayk Ghazaryan
 * Email: hayk.ghazaryanc@gmail.com
 * GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
 * Date: January 2025
 */

.main {
 // .main-title
 &-title {
  // .main-title-v1
  &-v1 {
   @apply font-700
										~text-[3.6rem]/[7.2rem]
										~leading-[4.3rem]/[8.6rem]

										sm:text-[3.6rem]
										sm:leading-[4.3rem];
  }
 }

 &-descr {
  // .main-descr-v1
  &-v1 {
   @apply text-[1.6rem]
										font-400
										leading-[2.4rem];
  }
 }
}

.title {
 // .title-1
 &-1 {
  // .title-1-1
  &-1 {
   // .title-1-1-v1
   &-v1 {
    @apply font-600
											~text-[2.4rem]/[4.8rem]
											~leading-[2.9rem]/[5.8rem]

											sm:text-[2.4rem]
											sm:leading-[2.9rem];
   }
  }

  // .title-1-4
  &-4 {
   // .title-1-4-v1
   &-v1 {
    @apply text-[2.4rem]
											font-600
											leading-[2.9rem]
											tracking-[0.02rem];
   }
  }
 }

 // .title-5
 &-5 {
  // .title-5-12
  &-12 {
   // .title-5-12-v1
   &-v1 {
   }

   // .title-5-12-v2
   &-v2 {
   }
  }
 }
}

.link {
 // .link-v1
 &-v1 {
 }
}

.descr {
 // .descr-1
 &-1 {
  // .descr-1-1
  &-1 {
   // .descr-1-1-v1
   &-v1 {
   }
  }
 }

 // .descr-5
 &-5 {
  // .descr-5-12
  &-12 {
   // .descr-5-12-v1
   &-v1 {
   }
  }
 }
}

.btn-label {
 // .btn-label-v1
 &-v1 {
 }
}
