<!-- prettier-ignore -->
<%-
/*
	Author: Hayk Ghazaryan
	Email: hayk.ghazaryanc@gmail.com
	GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
	Date: January 2025
*/
%>

<!-- prettier-ignore -->
<%
	const { assets,
									pic,
									img,
									styles,
									twStyles,
									svg,
									view,
									viewAtoms,
									viewMolecules,
									viewOrganisms,
									viewTemplates } = paths.in;

	const { assets: assetsOut,
									pic: picOut,
									img: imgOut,
									css: cssOut,
									svg: svgOut } = paths.out;

	const { socPageLinks,
									misc,
									footer } = data.sections;

	const svgSprite = `${svg}/${files.spriteIcons}`;
	const svgBrandSprite = `${svg}/${files.spriteIconsBrand}`;
%>

<!doctype html>
<html lang="en" translate="no" class="notranslate">
 <!-- prettier-ignore -->
 <%- include(`${viewTemplates}/head.html`); %>
 <body>
  <noscript><%= misc.nojs %></noscript>
  <div class="wrap" data-scroll-container>
   <footer class="main-footer s9">
    <div class="fix main-footer__fix">
     <div class="grid-9">
      <div class="grid-9__it grid-9__it--1"></div>
      <div class="grid-9__it grid-9__it--2"></div>
      <div class="grid-9__it grid-9__it--3"></div>
      <div class="grid-9__it grid-9__it--4"></div>
      <div class="grid-9__it grid-9__it--5"></div>
     </div>
    </div>
   </footer>
  </div>
  <!-- <script type="module" defer src="scripts/main.js"></script> -->
 </body>
</html>
