<!-- prettier-ignore -->
<%-
/*
	Author: Hayk Ghazaryan
	Email: hayk.ghazaryanc@gmail.com
	GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
	Date: January 2025
*/
%>

<%
	const { assets,
									pic,
									img,
									styles,
									twStyles,
									svg,
									view,
									viewAtoms,
									viewMolecules,
									viewOrganisms,
									viewTemplates } = paths.in;

	const { assets: assetsOut,
									pic: picOut,
									img: imgOut,
									css: cssOut,
									svg: svgOut } = paths.out;

		const { socPageLinks } = data.components;

	const { misc,
									mainFooter } = data.sections;

	const svgSprite = `${svg}/${files.spriteIcons}`;
	const svgBrandSprite = `${svg}/${files.spriteIconsBrand}`;
%>

<!doctype html>
<html lang="en" translate="no" class="notranslate">
 <!-- prettier-ignore -->
 <%- include(`${viewTemplates}/head.html`); %>
 <body>
  <noscript><%= misc.nojs %></noscript>
  <div class="wrap" data-scroll-container>
   <%- include(`shared/ui/view/soc.html`, { socPageLinks, svgSprite }); %>
   <div class="short-txt">hello</div>
   <div class="dividing-line"></div>

   <%- include(`shared/ui/view/list-1.html`, { data: mainFooter.list[0].list}); %>
  </div>
  <!-- <script type="module" defer src="scripts/main.js"></script> -->
 </body>
</html>
