<!-- prettier-ignore -->
<%-
/*
	Author: Hayk Ghazaryan
	Email: hayk.ghazaryanc@gmail.com
	GitHub: https://github.com/ghazareon/mini-landing-eco-markup-gh
	Date: January 2025
*/
%>

<%
	const { assets,
									pic,
									img,
									styles,
									twStyles,
									svg,
									view,
									viewAtoms,
									viewMolecules,
									viewOrganisms,
									viewTemplates } = paths.in;

	const { assets: assetsOut,
									pic: picOut,
									img: imgOut,
									css: cssOut,
									svg: svgOut } = paths.out;

		const { socPageLinks } = data.components;

	const { misc,
									mainFooter,
									s3,
									s5 } = data.sections;

	const svgSprite = `${svg}/${files.spriteIcons}`;
	const svgBrandSprite = `${svg}/${files.spriteIconsBrand}`;
%>

<!doctype html>
<html lang="en" translate="no" class="notranslate">
 <!-- prettier-ignore -->
 <%- include(`${viewTemplates}/head.html`); %>
 <body>
  <noscript><%= misc.nojs %></noscript>
  <div class="wrap" data-scroll-container>
   <!-- -->

   <!-- prettier-ignore -->
   <%- include(`shared/ui/view/s3.html`, { s3, svg, svgSprite }); %>
   <%- include(`shared/ui/view/s5.html`, { s5, svg, svgSprite }); %>

   <!--  -->
   <section class="s-7">
    <div class="fix s-7__fix">
     <h2 class="s-t">Reducing Plastic Waste Through Eco-Friendly Packaging</h2>
     <div class="grid-7">
      <div class="grid-7__it">
       <div class="deco-circle deco-circle--1"></div>
       <div class="deco-circle deco-circle--2"></div>

       <div class="overlay-custom overlay-custom--fill"></div>

       <span class="icon-box-1">
        <img
         src="shared/ui/assets/svg/illustration/illustrator-green-wrap.svg"
         alt=""
         width="30.39"
         height="32.62"
        />
       </span>
       <img
        srcset="
         shared/ui/assets/img/services/eco-packaging-1-1x.webp 1x,
         shared/ui/assets/img/services/eco-packaging-1-2x.webp 2x
        "
        src="shared/ui/assets/img/services/eco-packaging-1-1x.jpg"
        alt=""
        width="267"
        height="358"
        class="img2-3"
       />
      </div>
      <div class="grid-7__it">
       <div class="overlay-custom overlay-custom--fill">
        <div class="el"></div>
        <div class="article-title-1">Recycled/ renewable/ organic fibers.</div>
        <div class="equalizer">
         <i></i>
         <i></i>
         <i></i>
         <i></i>
         <i></i>
        </div>
       </div>

       <img
        srcset="
         shared/ui/assets/img/services/eco-packaging-2-1x.webp 1x,
         shared/ui/assets/img/services/eco-packaging-2-2x.webp 2x
        "
        src="shared/ui/assets/img/services/eco-packaging-2-1x.jpg"
        alt=""
        width="267"
        height="358"
        class="img2-3"
       />
      </div>
      <div class="grid-7__it">
       <div class="overlay-custom">
        <div class="overlay-custom__content">
         <svg class="icons icons--deco-7" width="41.89" height="42">
          <use xlink:href="<%=svgSprite %>#deco-7"></use>
         </svg>
         <p class="overlay-custom__content-txt">
          Our mission is to make sustainable food packaging solutions accessible to
          everyone
         </p>
        </div>

        <img
         src="shared/ui/assets/svg/ornament.svg"
         alt=""
         width="408"
         height="432"
         class="ornament"
        />
       </div>
      </div>
      <div class="grid-7__it">
       <div class="overlay-custom overlay-custom--fill">
        <svg class="icons icons--deco-6" width="71.98" height="71.29">
         <use xlink:href="<%=svgSprite %>#deco-6"></use>
        </svg>
       </div>
       <img
        srcset="
         shared/ui/assets/img/services/eco-packaging-3-1x.webp 1x,
         shared/ui/assets/img/services/eco-packaging-3-2x.webp 2x
        "
        src="shared/ui/assets/img/services/eco-packaging-3-1x.jpg"
        alt=""
        width="267"
        height="358"
        class="img2-3"
       />
      </div>
     </div>
    </div>
   </section>
   <!-- / -->

   <!-- prettier-ignore -->
   <%- include(`shared/ui/view/main-footer.html`, { mainFooter, socPageLinks, svg, svgSprite }); %>
  </div>
  <!-- <script type="module" defer src="scripts/main.js"></script> -->
 </body>
</html>
